@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins, system-ui, sans-serif;
  }
  h2 {
    @apply text-3xl sm:text-4xl md:text-5xl relative cursor-default;
    &::after {
      content: '';
      @apply w-0 h-1 absolute -bottom-2 left-0 bg-gradient-to-r from-primary to-secondary rounded-full  duration-500;
    }
    &:hover::after {
      @apply w-full;
    }
  }
  h3 {
    @apply text-[24px];
  }
}

@layer utilities {
  .max-container {
    @apply w-full max-w-screen-xl;
  }
  .main-padding-top {
    @apply pt-[50px];
  }
  .main-padding-bottom {
    @apply pb-10;
  }
  .main-padding-x {
    @apply px-8;
  }
  .shadow-yellow {
    box-shadow:
      0 10px 15px -3px rgba(255, 223, 0, 0.4),
      0 4px 6px -2px rgba(255, 223, 0, 0.3);
  }
  .shadow-black {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  }
}

@layer components {
  .anim-bar {
    @apply w-20 h-1 rounded-full;
    background: linear-gradient(to right, theme('colors.primary'), theme('colors.secondary'), white);
    background-size: 200% 100%;
    animation: move-anim-bar 1.5s linear infinite;
  }

  @keyframes move-anim-bar {
    100% {
      background-position: 100%;
    }
  }

  .anim-gradient-bar-horizontal {
    @apply w-28 h-1 rounded-full;
    background: linear-gradient(to right, theme('colors.primary'), theme('colors.secondary'), theme('colors.primary'));
    background-size: 200% 100%;
    animation: move-gradient-bar-horizontal 1.5s linear infinite;
  }

  @keyframes move-gradient-bar-horizontal {
    50% {
      background-position: 100% 0%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  .anim-gradient-bar-vertical {
    @apply w-1 h-28 rounded-full;
    background: linear-gradient(to bottom, theme('colors.primary'), theme('colors.secondary'), theme('colors.primary'));
    background-size: 100% 200%;
    animation: move-gradient-bar-vertical 1.5s linear infinite;
  }

  @keyframes move-gradient-bar-vertical {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  .gradient-border-top::before {
    content: '';
    @apply w-full h-1 rounded-full absolute top-0 left-0;
    background: linear-gradient(to right, theme('colors.secondary'), white);
  }

  .gradient-border-left::after {
    content: '';
    @apply h-full w-1 absolute top-0 left-0;
    background: linear-gradient(to bottom, theme('colors.secondary'), white);
  }

  .gradient-border-top-primary::before {
    content: '';
    @apply w-full h-1 rounded-full absolute top-0 left-0;
    background: linear-gradient(to right, theme('colors.primary'), white);
  }

  .gradient-border-left-primary::after {
    content: '';
    @apply h-full w-1 absolute top-0 left-0;
    background: linear-gradient(to bottom, theme('colors.primary'), white);
  }

  /* CUBE*/
  .cube-perspective {
    perspective: 1000px;
  }
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  @keyframes cubeSpin {
    from {
      transform: rotateY(0deg) rotateX(0deg);
    }
    to {
      transform: rotateY(360deg) rotateX(360deg);
    }
  }
  .animate-cube-spin {
    animation: cubeSpin 5s infinite linear;
  }
  .top {
    transform: rotateX(90deg) translateZ(70px);
  }
  .bottom {
    transform: rotateX(-90deg) translateZ(70px);
  }
  .right {
    transform: rotateY(90deg) translateZ(70px);
  }
  .left {
    transform: rotateY(-90deg) translateZ(70px);
  }
  .front {
    transform: rotateX(0deg) translateZ(70px);
  }
  .back {
    transform: rotateX(-180deg) translateZ(70px);
  }

  /* Loader*/
  .animate-spinSlow {
    animation: spin 3s linear infinite;
  }

  .animate-spinMedium {
    animation: spin 2s linear infinite;
  }

  .animate-spinFast {
    animation: spin 1s linear infinite;
  }
}
